/* CSS designed by  Robert Erickson 

*/
/*****************     main layout section             ************************/
body{
    font: 14pt Arial,Helvetica,sans-serif;
    margin: auto;
    width: 90%;
}

/*****************     navigation section         *****************************/
nav ol {
    padding-left: 0;
}

nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 3em;
}

/*****************     footer section              ****************************/
footer{
    clear: both;
}

/*****************     form section                ****************************/
#form{
    /* dont like this after all font: bold 0.6em Arial,Helvetica,sans-serif; */
}
       
fieldset{
    border: 2px solid #00498e;
    clear: both;
    margin-top: 2em;
    padding: 1em;
}

label {
    color: #005cb3;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    padding-right: 1em;
    text-align: right;
    width: 10%;
}

.form-heading {
    border-bottom: 2px solid #ddd;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.75em;
    padding-bottom: 0.4em;
}

.check-field{
    margin: 0 0 1.25em 7.5em;
}

.radio-field{
    margin: 0 0 1.25em 7.5em;
}

.text-field{
    display: block;
    float: left;
    margin: 0 0 1.2em;
    padding-right: 0.5em;
    padding-top: 0.75em;
    text-align: right;
    width: 7em;
}

#form input,
#form textarea,
#form select{
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 2px 2px 4px #EBEBEB; 
    border-radius: 3px;
    padding: 1em;
    outline: none;
    width: 88%;
}

#form input:focus,
#form textarea:focus,
#form select:focus{
    border: 1px solid #0C0;
}

#form input[type=submit]{
    background: #005cb3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #dadada;
    color: #fff;
    width: 100%;
}

.buttons legend{
    display: none;
}
.buttons{
    text-align: center;
}

/* style the errors in the form so they are visible */       
.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

#errors ol li{
    color: #ff5555;
}